* {
    font-family: Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(62, 243, 228);
}

.menu-btn{
    background-color: rgb(240, 103, 12);
    color: white;
    padding: 8px 40px 8px 40px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

.contenedor{
    position: relative;
    display: inline-block;
}

.menu-elementos{
    display: none;
    position: absolute;
    background-color:gold;
    min-width: 160px;
    border-radius: 15px;
}

.menu-elementos a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
    
}

.menu-elementos a:hover{
    background-color: rgb(221,221,221);
}

.contenedor:hover .menu-elementos{
    display: block;
}

.contenedor:hover .menu-btn{
    background-color: rgb(240, 10, 12)
}